include README.md
recursive-include octoprint_TPlinkLightStripControl/templates *
recursive-include octoprint_TPlinkLightStripControl/translations *
recursive-include octoprint_TPlinkLightStripControl/static *
